body{
    /* background-image:url(./couverture_portfolio.jpg); */
    height: 100vh;
    margin: 0;
    background-size: cover; 
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url('couverture_portfolio.jpg') center/cover;
    
}

    h1{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 0 0 15px rgb(229, 235, 163);
    background-color: white;
    opacity: 0.8;
    
}

p{
    font-size: 20px;
    line-height: 1.8;

}

h2{
    font-size: 30px;
    /* text-decoration: underline overline rgb(175, 104, 238); */
    box-shadow: 0 0 10px black;
    border: none;
    border-radius: 10px;
    width: 220px;
    display: flex;
    justify-content: center;

}

.presentation{
    background-color:rgb(196, 229, 250) ;
    padding: 20px;
    width: 500px;
    height: 360px;
    border: none;
    box-shadow: 0 0 15px rgb(229, 235, 163);
    border-radius: 10px;;
}

li{
    font-size: 25px;
}

.skills{
    background-color: rgb(244, 167, 167);
    padding: 20px;
    border: none;
    box-shadow: 0 0 15px rgb(229, 235, 163);
    border-radius: 10px;
    width: 300px;
}

.soft{
    background-color: rgb(192, 216, 192);
}

.contenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}